@import "tailwindcss";

@keyframes coinSpin {
  0% {
    transform: rotateY(180deg); /* or rotateZ(0deg) */
  }
  100% {
    transform: rotate(360deg); /* counterclockwise */
  }
}

.coin-rotate {
  animation: coinSpin 8s linear infinite;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.rotating-img {
  animation: rotateInfinite 8s linear infinite;
}

@keyframes spinY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.spin-y {
  animation: spinY 8s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@keyframes earthSpin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.earth-rotate {
  animation: earthSpin 20s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@keyframes coinFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.coin-flip {
  animation: coinFlip 10s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: visible;
  perspective: 1000px;
}

/* Add to your CSS */
.curvy-bottom {
  clip-path: circle(75% 25% at 50% 100%);
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.moving-arrow {
  display: inline-block;
  animation: moveArrow 0.6s ease-in-out infinite alternate;
}

@keyframes moveArrow2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0px);
  }
}
.moving-arrow2 {
  display: inline-block;
  animation: moveArrow2 0.6s ease-in-out infinite alternate;
}
